@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Patrick+Hand&display=swap');

:root {
    --body-text : 'Patrick Hand', cursive;
    --header-text: 'Abril Fatface', cursive;
    --button-text: 'Patrick Hand', cursive;
}

.card1, .card-img {
    width: 350px;
    border-radius: 5px;
}

.card1 {
    box-sizing: border-box;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.image-div .card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.title-div {
    display: flex;
    flex-direction: column;
    font-family: var(--header-text);
    letter-spacing: 2px;
}

.body, .title-div {
    padding: 0 1rem;
}

.body {
    font-family: var(--body-text);
    font-size: 1.1rem;
}

.subtitle {
    margin-top: -0.7rem;
    color: gray;
}

.card-action {
    display: flex;
    width: 350px;
    padding: 0.8rem;
    justify-content: flex-start;
    margin-top: -0.5rem;
}

.card-action-buttons {
    display: flex;
    justify-content: space-around;
    width: 165px;
}

.card-action-icons {
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.action-button, .action-icon {
    border: 0px;
    background-color: white;
    color: #B3541E;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: var(--button-text);
    letter-spacing: 1.5px;
}

.icons {
    width: 13px;
}

/* Hovering affects on the card */

.card-info:hover, .action-button:hover, .action-icon:hover {
    background-color: #F5F5F5 ;
    cursor: pointer;
  }

.action-button {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.action-icon {
    padding: 0.7rem;
    border-radius: 45%;
}








